.site-footer{

    background:#032b6b;

    color:white;

    padding:55px 0 20px;

    font-family:Poppins,sans-serif;

}

.footer-container{

    width:90%;

    max-width:1200px;

    margin:auto;

}

.footer-main{

    display:flex;

    justify-content:space-between;

    gap:70px;

    flex-wrap:wrap;

}

.footer-brand{

    flex:2;

    min-width:300px;

}

.footer-logo{

    width:220px;

    margin-bottom:8px;

}

.footer-tagline{

    color:#dbe8ff;

    margin-bottom:30px;

    font-size:15px;

}

.footer-contact h4{

    margin-bottom:20px;

    font-size:18px;

    font-weight:600;

}

.contact-item{

    display:flex;

    align-items:flex-start;

    gap:12px;

    margin-bottom:18px;

}

.contact-item span{

    font-size:22px;

}

.contact-item strong{

    font-size:16px;

}

.contact-item small{

    color:#cdd8ef;

}

.footer-col{

    flex:1;

    min-width:180px;

}

.footer-col h4{

    margin-bottom:18px;

    font-size:18px;

}

.footer-col ul{

    list-style:none;

    padding:0;

}

.footer-col li{

    margin-bottom:12px;

}

.footer-col a{

    color:#dfe8f8;

    text-decoration:none;

    transition:.3s;

}

.footer-col a:hover{

    color:#5fc3ff;

    padding-left:5px;

}

.site-footer hr{

    border:none;

    border-top:1px solid rgba(255,255,255,.15);

    margin:40px 0 20px;

}

.footer-bottom{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

}

.footer-bottom p{

    color:#d8e2f5;

    font-size:14px;

}

.footer-social{

    display:flex;

    gap:25px;

}

.footer-social a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.footer-social a:hover{

    color:#5fc3ff;

}

@media(max-width:900px){

.footer-main{

flex-direction:column;

gap:45px;

}

.footer-bottom{

flex-direction:column;

gap:15px;

text-align:center;

}

.footer-logo{

width:180px;

}

}