/* =========================
   Reset
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f3f5f8;
}

/* =========================
   Overlay
========================= */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* =========================
   Popup
========================= */

.qris-popup {
  width: 100%;
  max-width: 512px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

/* =========================
   Header
========================= */

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: #f4faff;
  border-bottom: 1px solid #c1c7d3;
}

.popup-header h2 {
  font-size: 24px;
  font-weight: 600;
  color: #05285d;
}

.close-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.qris-popup .close-btn:hover {
  background: #eef4fb;
}

.qris-popup .material-symbols-outlined {
  font-size: 24px;
  color: #666;
}

/* =========================
   Body
========================= */

.qris-popup .popup-body {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.qris-popup.payment-info {
  text-align: center;
}

.qris-popup.payment-info span {
  font-size: 13px;
  color: #414751;
}

.qris-popup.payment-info h1 {
  margin-top: 6px;
  font-size: 36px;
  color: #004f8b;
  font-weight: 700;
}

.qris-popup.qris-image {
  width: 256px;
  height: 256px;
  border: 2px solid #004f8b;
  border-radius: 8px;
  padding: 10px;
}

.qris-popup.qris-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.qris-popup.payment-status {
  text-align: center;
}

.qris-popup.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #ba1a1a;
  font-size: 15px;
}

.qris-popup.countdown .material-symbols-outlined {
  font-size: 18px;
  color: #ba1a1a;
}

.qris-popup .payment-status p {
  color: #414751;
  font-size: 14px;
  line-height: 1.6;
}

/* =========================
   Footer
========================= */

.qris-popup.popup-footer {
  background: #f4faff;
  border-top: 1px solid #c1c7d3;
  padding: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.qris-popup.popup-footer button {
  padding: 13px 24px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
}

.qris-popup.btn-cancel {
  background: #fff;
  color: #414751;
  border: 1px solid #c1c7d3;
}

.qris-popup.btn-cancel:hover {
  background: #f5f5f5;
}

.qris-popup .btn-primary {
  background: #0a67b2;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  cursor: pointer;
}

.qris-popup .btn-primary {
  background: #0a67b2;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  cursor: pointer;
}
.qris-popup .btn-primary .material-symbols-outlined {
  font-size: 18px;
}

.qris-popup.btn-primary:hover {
  background: #075796;
}

.qris-popup.btn-primary img {
  width: 16px;
}

/* ==========================
   Reset
========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #f3f5f8;
}

/* ==========================
 Overlay
========================== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* ==========================
 Popup
========================== */

.success-popup {
  width: 100%;
  max-width: 520px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

/* ==========================
 Header
========================== */

.popup-header {
  background: #f4faff;
  padding: 22px 24px;
  border-bottom: 1px solid #d9d9d9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  color: #003d73;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.close-btn .material-symbols-outlined {
  font-size: 24px;
  color: #666;
}

/* ==========================
 Body
========================== */

.popup-body {
  padding: 40px 35px;
  text-align: center;
}

.success-icon {
  width: 82px;
  height: 82px;
  margin: auto;
  border-radius: 14px;
  background: #18b84f;

  display: flex;
  justify-content: center;
  align-items: center;
}

.success-icon .material-symbols-outlined {
  color: #fff;
  font-size: 52px;
}

.popup-body h3 {
  margin-top: 25px;
  font-size: 30px;
  color: #222;
  font-weight: 700;
}

.subtitle {
  margin-top: 12px;
  color: #555;
  font-size: 16px;
  line-height: 28px;
}

.description {
  margin-top: 20px;
  color: #666;
  font-size: 15px;
}

/* ==========================
 Footer
========================== */

.popup-footer {
  background: #f4faff;
  border-top: 1px solid #d9d9d9;
  padding: 22px 24px;

  display: flex;
  justify-content: flex-end;
}

.btn-detail {
  background: #0a67b2;
  color: #fff;

  border: none;
  border-radius: 4px;

  padding: 13px 22px;

  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;

  transition: 0.3s;
}

.btn-detail:hover {
  background: #08579a;
}

.btn-detail .material-symbols-outlined {
  color: #fff;
  font-size: 18px;
}
