<link rel="stylesheet" href="../css/cekbook.css"/>
<div class="card" id="cekbook">
        <h2 class="card-title">Cek Booking</h2>
        <form class="booking-form">
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-wrapper">
                    <i class="fa-regular fa-envelope icon"></i>
                    <input type="email" id="email" placeholder="nama@email.com">
                </div>
            </div>

            <div class="form-group">
                <label for="kode">Kode Booking</label>
                <div class="input-wrapper">
                    <i class="fa-solid fa-ticket-simple icon"></i>
                    <input type="text" id="kode" placeholder="Contoh: ABC123XYZ">
                </div>
            </div>

            <button type="button" class="btn-submit">
                Cek Pesanan <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
</div>