<link rel="stylesheet" href="../css/footer.css" />
<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-main">
      <div class="footer-col footer-brand">
        <div class="footer-logo">
          <img src="../img/Asset 9.svg" alt="OMBAK BIRU" />
        </div>
        <p class="footer-desc">
          Penyedia layana transportasi laut terintegrasi yang menghubungkan
          pulau-pulau di Nusantara dengan teknologi modern dan layanan kelas
          dunia.
        </p>
      </div>

      <div class="footer-col">
        <h4 class="footer-title">LAYANAN</h4>
        <ul class="footer-links">
          <li><a href="#">Tiket Feri</a></li>
          <li><a href="#">Ombak Biru Cargo</a></li>
          <li><a href="#">Ticker Tracking</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 class="footer-title">PERUSAHAAN</h4>
        <ul class="footer-links">
          <li><a href="#">Tentang Kami</a></li>
          <li><a href="#">Partner Portal</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 class="footer-title">BANTUAN</h4>
        <ul class="footer-links">
          <li><a href="#">Pusat Bantuan</a></li>
          <li><a href="#">Syarat & Ketentuan</a></li>
          <li><a href="#">Kebijakan Privasi</a></li>
          <li><a href="#">Hubungi Kami</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-copyright">
        &copy; 2026 Ombak Biru. All rights reserved.
      </div>
      <div class="footer-socials">
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">Twitter (X)</a>
      </div>
    </div>
  </div>
</footer>
