<section class="partner-hero">
  <div class="partner-container">
    <h1>Partner Portal</h1>

    <p>
      Bergabunglah bersama Ombak Biru sebagai mitra resmi untuk menghadirkan
      layanan transportasi laut yang aman, modern, dan terintegrasi di seluruh
      Indonesia.
    </p>

    <a href="#" class="btn-partner"> Daftar Menjadi Mitra </a>
  </div>
</section>

<section class="partner-section">
  <div class="partner-container">
    <h2>Kategori Mitra</h2>

    <p class="partner-subtitle">
      Ombak Biru bekerja sama dengan berbagai perusahaan dan instansi
      terpercaya.
    </p>

    <div class="partner-logo-grid">
      <div class="partner-logo">
        <img src="../img/bumn.png" alt="BUMN" />
      </div>

      <div class="partner-logo">
        <img src="../img/danaantara.png" alt="DANAANTARA INDONESIA" />
      </div>

      <div class="partner-logo">
        <img src="../img/jnt.jpg" alt="J&T CARGO" />
      </div>

      <div class="partner-logo">
        <img src="../img/pelindo.jpg" alt="Pelindo" />
      </div>

      <div class="partner-logo">
        <img src="../img/damri.png" alt="DAMRI" />
      </div>

      <div class="partner-logo">
        <img src="../img/bri.png" alt="BRI" />
      </div>

      <div class="partner-logo">
        <img src="../img/mandiri.png" alt="Mandiri" />
      </div>

      <div class="partner-logo">
        <img src="../img/telkom.png" alt="Telkom Indonesia" />
      </div>
    </div>
  </div>
</section>
